body {
    margin: 0;
}

img {max-width:100%;}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: white;
    padding: 24px 100px 20px 100px; 
    gap: 24px;
    margin: 0px;
    border: 0px;
}

.leftContent, .rightContent {
    display:flex;
    align-items: center;
    gap: 16px;
}

.uheader{
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    background-color: #1F2937;
    color:white;
    padding: 24px 100px 100px 100px; 
    gap: 15px;
}

.uheaderSame {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.uheaderSame >h1 {
    font-size: 48px;
    font-weight: 800;
    width: 400px;
    height: 80px;
}

.uheaderSame >p {
    font-size: 18px;
    width: 600px;
    margin: 0px;
}

.uheaderSame >button {
    background-color: #3882F6;
    color: white;
    padding: 6px 30px;
    border-radius: 6px;
    text-align: center;
    border-style: none;
    width: 150px;
    font-weight: 600;
}

.uheader >img{width:735px;}

.information {text-align: center;}

.information >h1 {padding-bottom: 25px;}

.informationImages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 100px;
    text-align: center;
}

.info >img {width:220px; height:220px;}
.info >p {width:220px; height:220px;}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    width: 1920;
    text-align: center;
    align-items: center;
}

.quote >h1 {font-size: 36px; font-style: italic; color: #1F2937; max-width: 850px;}
.quote >p {font-weight: 800;padding-left: 450px;}